<div class="page-flip">
  Showing <%= restaurants.currentPage %> of <%= restaurants.totalPages %>.
  <nav class="page-flip-nav-top">

    <button class="prev-page">Previous page</button>
    <button class="next-page">Next page</button>
  </nav>
</div>
<ul class="restaurant-list"></ul>
<nav class="page-flip-nav-bottom">
  <button class="prev-page">Previous page</button>
  <button class="next-page">Next page</button>
</nav>
