
<% if (flashes !== "" && typeof flashes !== "undefined") { %>
  <section class="flash-container-index">
    <%= flashes %>
  </section>
<% } %>

<h2> Restaurants </h1>

<section class="restaurant-list-box">

</section>

<section class="map-box">
  <p>Map</p>
  <div class="index-map-container"></div>
<section>
<a class="new-restaurant-button" href="#restaurants/new">Make a new restaurant</a>
