
<h2> Restaurants </h1>
  <ul class="restaurant-list"></ul>

<section class="map-box">
  <p>Map</p>
  <div class="index-map-container"></div>
<section>
<a class="new-restaurant-button" href="#restaurants/new">Make a new restaurant</a>
