
<h2> Restaurants </h1>

<section class="restaurant-list-box">
  <div class="page-flip">
    Showing X of <%= restaurants.totalPages %>.
    <nav class="page-flip-nav">
      <a href="" class="prev-page">Previous page</a>
      <a href="#" class="next-page">Next page</a>
    </nav>
  </div>
  <ul class="restaurant-list"></ul>
</section>

<section class="map-box">
  <p>Map</p>
  <div class="index-map-container"></div>
<section>
<a class="new-restaurant-button" href="#restaurants/new">Make a new restaurant</a>
