<h2><%= restaurant.escape("name") %></h2>

<p>
  <%= restaurant.escape("address1") %>
  <br>
  <%= restaurant.escape("address2") %>
  <br>
  <%= restaurant.escape("phone") %>
</p>

<h3>Reviews</h3>
<ul class="review-list"></ul>

<h4>New review</h4>
<section class="new-review-form"></section>
