<h2>Log in</h2>
<%= render "shared/user_errors" %>

<form action="<%= session_url %>" method="post" class="log-in-form">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <label for="user_username">Username</label>
  <input
    type="text"
    name="user[username]"
    value="<%= @user.username %>"
    id="user_username">

  <label for="user_password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="user_password">

  <button>Submit!</button>
</form>

<a href="/auth/twitter" class="twitter-button">Sign in with twitter</a>
