<input type="hidden" name="review[restaurant_id]" value="<%= restaurant.id %>">

<label for="review_rating">Rating</label>
<select id="review_rating" name="review[rating]">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>

<textarea name="review[body]"></textarea>

<button class="submit-review">Submit!</button>
