<h1>Restaurants</h1>

<ul>
 <% @restaurants.each do |restaurant| %>
  <li>
    <%= link_to restaurant.name, restaurant %>,
    Rating: <%= restaurant.avg_rating %>
    (<%= restaurant.reviews.count %> ratings)
  </li>
 <% end %>
</ul>

<% if logged_in? %>
  <a href="<%= new_restaurant_url %>">Make a new restaurant</a>
<% end %>
