<h2>New restaurant</h2>

<form action="<%= restaurants_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <label for="restaurant_name">Name</label>
  <input
    type="text"
    name="restaurant[name]"
    value="<%= @restaurant.name %>"
    id="restaurant_name">

  <label for="restaurant_tag">Tag</label>
  <select id="restaurant_tag" name="restaurant[tag]">
    <option value="0">Italian</option>
    <option value="1">Chinese</option>
    <option value="2">Mexican</option>
    <option value="3">American</option>
    <option value="4">Indian</option>
  </select>

  <label for="restaurant_address">Address</label>
  <input
    type="text"
    name="restaurant[address]"
    id="restaurant_address">

  <label for="restaurant_city">City</label>
  <input
    type="text"
    name="restaurant[city]"
    id="restaurant_city">

  <label for="restaurant_state">State</label>
  <input
    type="text"
    name="restaurant[state]"
    id="restaurant_state">

  <label for="restaurant_zip">Zip</label>
  <input
    type="text"
    name="restaurant[zip]"
    id="restaurant_zip">

  <label for="restaurant_phone">Phone</label>
  <input
    type="integer"
    name="restaurant[phone]"
    id="restaurant_phone">


  <button>Submit!</button>
</form>
