// header

.header {
  display: block;
  background: red;
  color: white;
}

.header-nav {
  width: 1000px;
  margin: auto;

}

.header-logo a {
  float: left;
  padding: 30px;
  color: white;

}

.header-list {
  float: right;
}

.logged-in-nav {
  padding: 10px;
  display: inline-block;
  color: white;
}

.logged-out-nav {
  padding: 10px;
  float: left;
  display: inline-block;
}

// main
.body {
  background: #F5F5F1;
}

.main {
  display: block;
  width: 920px;
  background: white;
  margin: auto;
  padding: 10px 40px;
  border-left: 1px solid #CCCCC8;
  border-right: 1px solid #CCCCC8;
  border-bottom: 1px solid #CCCCC8;

}
