.modal {
  display: none;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 20px black;
}

#modal-visible {
  display: block;
}

.technologies {
  list-style: circle inside;
}
