
.new-restaurant-button {
  position: absolute;
  top: 20px;
  right: 40px;
  display: block;
  background: #D31800;
  box-shadow: 0 0 2px #000;
  padding: 10px 15px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.index-map-container {
  display: inline-block;
  float: right;
  border-top: 1px solid #CCCCC8;

}

.index-map-canvas {
  width: 350px;
  height: 350px;
}

.map-box {
  margin-top: 50px;
  margin-bottom: 50px;

  float: right;
  border: 1px solid #CCCCC8;

}


.map-box p {
  background: #F5F5F1;
  margin: 0;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 600;
}

.page-flip {
  border-bottom: 1px solid #E5E5E1;
}

.showing-message {
  float: left;
  font-size: 14px;
  margin-top: 0;
}

.page-flip-nav {
  float: right;
}

.page-flip-nav button {
  border: none;
  color: #3B67AA;
  position: relative;
  bottom: 5px;
}

.page-flip-nav button:hover {
  background: #E5E5E1;
}

.flash-container-index {
  background: #5C995C;
  border-radius: 2px;
  border: 1px solid #203520;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
}
