#restaurant-show-outer {
  background: #fff;
  width: auto;
  border: 0 inherit;
  padding: 0;

}

#restaurant-show-inner {
  display: block;
  margin: auto;
}

.restaurant-show-header {
  background: #F5F5F1;
  border-bottom: 1px solid #CCCCC8;
}

.restaurant-show-content {
  width: 920px;
  margin: auto;
  padding: 10px 40px;
  position: relative;
}

.restaurant-show-content > h2{
  font-weight: bold;
}

.show-rating {
  display: block;
  margin-bottom: 5px;
}

.num-reviews-show {
  display: block;
}

.write-review-button {
  position: absolute;
  top: 20px;
  right: 0;
  display: block;
  background: #D31800;
  box-shadow: 0 0 2px #000;
  padding: 10px 15px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.restaurant-show-reviews {
  width: 920px;
  margin: auto;
  padding: 10px 40px;
}

.show-map-container {
  display: inline-block;
  border: 1px solid #CCCCC8;
}

.show-map-section {
  float: left;
  background: #fff;
  padding: 5px;
  border: 1px solid #CCCCC8;

}

.map-address {
  font-size: 16px;
  font-weight: 600;
  line-spacing: 1;
}

.show-pics-section {
  background: green;
  margin: 10px;
  float: left;
}
