
.restaurant-form-item {
  padding: 10px 0;
}


.restaurant-form-item > label {
  float: left;
  display: block;
  width: 300px;
  font-weight: 600;
}

.restaurant-item-input {
  float: left;
  display: block;
}

.preview-restaurant-container {
  width: 300px;
  length: 300px;
  margin-bottom: 10px;
  border: none;
}
