// #restaurant-show-outer {
//   background: green;
//   z-index: 1;
//   width: 2000px;
//   border: none;
// }
//
// #restaurant-show-inner {
//   display: block;
//   width: 920px;
//   background: white;
//   margin: auto;
//   padding: 10px 40px;
// }

.restaurant-show-header > h2{
  font-weight: bold;
}

.show-rating {
  display: block;
  margin-bottom: 10px;
}

.num-reviews-show {
  display: block;
}

.restaurant-show-header {
  position: relative;

}

.write-review-button {
  position: absolute;
  top: 20px;
  right: 0;
  display: block;
  background: #D31800;
  box-shadow: 0 0 2px #000;
  padding: 10px 15px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
