<label for="query-text">Findx</label>
<input type="text" name="query" id="search-query"></input>

<label for="search-loc">Near</label>
<input type="text" name="loc" id="search-loc" value="598 Broadway, New York"></input>

<button class="submit-search">Search!</button>
