<section class="search-form-item">
  <label for="query-text">Find</label>
  <input type="text" name="query" id="search-query" placeholder="pizza, chinese"></input>
</section>

<section class="search-form-item">
  <label for="search-loc">Near</label>
  <input type="text" name="loc" id="search-loc" value="598 Broadway, New York"></input>
</section>

<button class="submit-search">
  <span class="magnifying-glass">⚲</span>
</button>
