<article class="about-page">
  <h2 class="about-header">Thanks for Visiting!</h2>

  <h3>Welp is a Yelp clone written by Liann Sun using the following technologies:</h3>

  <ul class="technologies">
    <li>Ruby on Rails</li>
    <li>PostgreSQL</li>
    <li>Backbone.js</li>
    <li>Heroku</li>
    <li>Git</li>
    <li>Google Maps API</li>
    <li>Amazon S3</li>
    <li>Paperclip</li>
    <li>OAuth</li>
  </ul>

  <p>
    It was a great experience to write something of this size and complexity over the course of two weeks.
  </p>

</article>
