<h1 class="header-logo">
  <a class="home-link" href="javascript:;"></a>
</h1>

<section class="search"></section>

<ul class="header-list clearfix">

  <% if (user.id) { %>
    <li>
      <a class="logged-in-nav" href="#/users/<%= user.id %>">
        <%= user.escape("username") %>
      </a>
    </li>
    <li>
      <a class="logged-in-nav" href="/session" data-method="delete">
        Log out
      </a>
    </li>
  <% } else { %>
    <li>
      <a class="logged-out-nav" href="/session/new">Log in</a>
    </li>
    <li>
      <a class="logged-out-nav" href="/users/new">Sign up</a>
    </li>
  <% } %>

</ul>
