<footer class="footer clearfix">
  <small class="copyright">
    Made by
    <a href="http://liannsun.com">Liann Sun</a>
  </small>

  <nav class="footer-nav">
    <a href="#">Learn More</a>
  </nav>
</footer>
